<!DOCTYPE html>
<html lang="en">
<%- include('../partials/admin/head') %> 
<body>
    
    <input type="checkbox" id="nav-toggle">
    
    <%- include('../partials/admin/sidebar') %> 

    <div class="main-content">
        
        <%- include('../partials/admin/header') %> 

        <main>
            <div class="proyects">
                <div class="card">
                    <div class="card-header">
                        <h3>Editar producto</h3>
                    </div>                  
                        <section class="l-form">           
                            <form action="/dashboard/update/<%=productEdit._id%>?_method=PUT" class="form" id="login-up" method="POST" enctype="multipart/form-data">
                             <h1 class="form__title" > Editar </h1>   
                                <div class="form__div">
                                    <input type="text"  name="supplier" id="supplier" class="form__input" required value="<%=productEdit.supplier%>"> 
                                </div>
                                <div class="form__div">
                                    <input type="text"  name="brand" id="brand" class="form__input" required value="<%=productEdit.brand%>"> 
                                </div>
                                <div class="form__div">
                                    <input type="text"  name="category" id="category" class="form__input" required value="<%=productEdit.category%>"> 
                                </div>
                                <div class="form__div">
                                    <input type="text"  name="size" id="size" class="form__input" required value="<%=productEdit.size%>"> 
                                </div>
                                <div class="form__div">
                                    <input type="number"  name="box" id="box" class="form__input" required value="<%=productEdit.box%>"> 
                                </div>
                                <div class="form__div">
                                    <input type="text"  name="description" id="description" class="form__input" required value="<%=productEdit.description%>"> 
                                </div>
                                <div class="form__div">
                                    <input type="number"  name="price" id="price" class="form__input" required value="<%=productEdit.price%>"> 
                                </div>
                                <div class="form__div">
                                    <input type="text"  name="tax" id="tax" class="form__input" required value="<%=productEdit.tax%>"> 
                                </div>
                                <div class="form__div">
                                    <input type="number"  name="stock" id="stock" class="form__input" required value="<%=productEdit.stock%>"> 
                                </div>
                                <div class="form__div">
                                    <select name="active" id="active" class="form__input" required value="<%=productEdit._id%>">
                                        <option value="true"<%= productEdit.active == true ? "selected" : null %>>Disponible</option>
                                        <option value="false" <%= productEdit.active == false ? "selected" : null %>>No disponible</option>
                                    </select>
                                </div>
                                <div class="form__div">
                                    <input type="text"  name="image" id="image" class="form__input" required value="<%=productEdit.image%>"> 
                                </div>
                                    
                                    <button type="submit" class="form__button">Aceptar</button>
                            </form>                           
                        </section>                   
                </div>
            </div>
        </main>
    </div>
</body>
</html>